# 클래스 변수와 인스턴스 변수

In [ ]:
class Car:
    # 클래스 변수의 위치
    max_speed = 300
    max_people = 5
    car_gear = ['P', 'D', 'R', 'N']

modelx = Car()
modely = Car()

modely.max_speed = 500

print(Car.max_speed) # 출력: 300
print(modelx.max_speed) # 출력: 300
print(modely.max_speed) # 출력: 500(인스턴스 변수를 출력한 것입니다.)

300
300
500

In [ ]:
class Car:
    # 클래스 변수의 위치
    max_speed = 1000
    max_people = 5
    car_gear = ['P', 'D', 'R', 'N']

modelx = Car()
modely = Car()

modely.max_speed = 1000

print(id(Car.max_speed)) # 출력: 139932765819248
print(id(modelx.max_speed)) # 출력: 139932765819248
print(id(modely.max_speed)) # 출력: 139932765819280

139932765819248
139932765819248
139932765819280

In [ ]:
class Car:
    kinds = []
    speed = 300

    def add_kinds(self, name):
        self.kinds.append(name)

    def change_speed(self, speed):
        self.speed = speed

modelx = Car()
modely = Car()

modelx.add_kinds('x')
modely.add_kinds('y')

Car.speed = 100

# modelx.change_speed(500)
# modely.change_speed(250)

print(f'modelx.kinds: {modelx.kinds}') # ['x', 'y']일까요? ['x']일까요?
print(f'modely.kinds: {modely.kinds}') # ['x', 'y']일까요? ['y']일까요?
print(f'modelx.speed: {modelx.speed}') # 300일까요? 100일까요?
print(f'modely.speed: {modely.speed}') # 300일까요? 100일까요?

modelx.kinds: ['x', 'y']
modely.kinds: ['x', 'y']
modelx.speed: 100
modely.speed: 100

In [ ]:
# 일부러 혼란을 드리려고 어렵게 낸 문제입니다.
# 이런 문제는 실무에서 거의 발생하지 않습니다.
class Car:
    kinds = []
    speed = 300

    def add_kinds(self, name):
        self.kinds.append(name)

    def change_speed(self, speed):
        self.speed = speed

modelx = Car()
modely = Car()

# Car.speed = 100

modelx.change_speed(500)
modely.change_speed(250)

print(f'modelx.speed: {modelx.speed}')
print(f'modely.speed: {modely.speed}')

In [ ]:
x = 100
def test():
    print(x) # 내 메모리 영역에 x가 없네? 그러면 찾아 올라갑니다.

test()

100

In [ ]:
x = 100
def test():
    x = 200 # 값을 읽어올 수 있지만 변경은 안됩니다!
    # x는 전역변수는 건드리지 않고 지역변수 200을 선언했을 뿐입니다.

test()
x

100

In [ ]:
x = 100
def test():
    global x
    x = 200 # 전역변수 x를 수정할 수 있게 됩니다!

test()
x

200

In [ ]:
x = 100
def test():
    x += 100 # x = x + 100

test()

In [ ]:
x = 100
def test():
    global x
    x += 100

test()
x

200

In [ ]:
x = []
def test():
    x.append(100)

test()
x

In [ ]:
# 매우 중요합니다.
l = [10, 20, 30]
def test(ll):
    ll.append(40)

test(l)
l

[10, 20, 30, 40]

In [ ]:
# 매우 중요합니다.
# 화살표 그릴 수 있어야 합니다.
i = 100
def test(ii):
    ii = 300

test(i)
i

100

In [ ]:
# 매우 중요합니다.
l = [10, 20, 30]
def test(ll):
    ll = 100

test(l)
l

[10, 20, 30]

In [ ]:
kinds = [] # 전역변수 speed 300

def add_kinds(value):
    kinds.append(value) # 지역에 해당 변수가 없으므로 전역변수 kinds에 append

add_kinds(100)
kinds

[100]

In [ ]:
kinds = [] # 전역변수 speed 300

def add_kinds(value):
    kinds = []
    kinds.append(value) # 지역에 해당 변수가 없으므로 전역변수 kinds에 append

add_kinds(100)
kinds

[]

In [ ]:
def hello():
    print('hello world')

print(type(hello)) # 출력: <class 'function'>

<class 'function'>

In [ ]:
class Point:

    def __init__(self, x, y):
        self.x = x
        self.y = y

    def __add__(self, other):
        if isinstance(other, Point):
            return Point((self.x + other.x), (self.y + other.y))
        elif isinstance(other, int) or isinstance(other, float):
            return Point((self.x + other), (self.y + other))

    def distance(self, other):
        dx = self.x - other.x
        dy = self.y - other.y
        return (dx**2 + dy**2)**0.5

dot1 = Point(10, 20)
dot2 = Point(20, 30)

dot3 = dot1 + 10
print(dot1.x, dot1.y) # 출력: 10 20
print(dot3.x, dot3.y) # 출력: 20 30

dot4 = dot1 + dot2
print(dot4.x, dot4.y) # 출력: 30 50
print(dot4.distance(dot1)) # 출력: 36.05551275463989

In [ ]:
class Counter:

    def __init__(self):
        self.num = 0

    def __len__(self):
        return 100

    def __call__(self):
        return 'hello'

    def __getitem__(self, key):
        return key*10

    def __str__(self):
        return 'hello'

    def __repr__(self):
        return 'world'

c = Counter()
len(c)
c()
c[10]
print(c) # print(str(c)) # __str__
c # __repr__

hello

world

# 상속

In [ ]:
class A:
    def hello(self):
        return 'hello'

class B(A):
    def world(self):
        return 'world'

b = B()
b.hello()
b.world()

'world'

In [ ]:
class A:
    def hello(self):
        return 'hello'

class B(A):
    def __init__(self, a):
        print(a, b)

    def world(self):
        return 'world'

b = B(10) # A에서 처리하는 것 아니고 a에서 처리합니다.
b.hello()
b.world()

10 20

'world'

In [ ]:
class A(object):
    def hello(self):
        return 'hello'

class B(A):
    def __init__(self, a):
        print(a, b)

    def world(self):
        return 'world'

b = B(10) # A에서 처리하는 것 아니고 a에서 처리합니다.
b.hello()
b.world()
dir(b)

10 <__main__.B object at 0x7f44707b0d60>

['__class__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__module__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 '__weakref__',
 'hello',
 'world']

In [ ]:
class A(object):
    def hello(self):
        return 'hello'

class B(A):
    def __init__(self, a):
        print(a, b)

    def hello(self):
        return 'hello world'

b = B(10)
b.hello() # B에 hello가 A에 hello를 덮습니다.

10 <__main__.B object at 0x7f44707b1f30>

'hello world'

In [ ]:
class A(object):
    def one(self):
        return 'one'

class B(A):
    def two(self):
        return 'two'

class C(B):
    def three(self):
        return 'three'

c = C()
c.one()
c.two()
c.three()

'three'

In [ ]:
class A(object):
    test = 0
    def one(self):
        return 'one'

class B(A):
    def two(self):
        return 'two'

class C(B):
    def three(self):
        return 'three'

c = C()
A.test = 300
c.test # 상속을 받을 때 내 메모리 영역의 값(보유하고 있는 값)은 아닙니다! 참조 값입니다.

300

# 다중상속

In [ ]:
class A:
    def hello(self):
        print('hello A')

class B:
    def hello(self):
        print('hello B')

class C(A, B):
    pass

c = C()
c.hello() # 주의! python의 코드의 특성상 hello B라고 오해할만합니다. 2.x와 3.x가 상속에 순서가 다릅니다.

hello A

In [ ]:
# 주의! python의 2.x와 3.x가 아래 다이아몬드 상속에 순서가 다릅니다.
# 3.x에서는 hello C가, 2.x에서는 hello A가 출력됩니다.
# 다만 2.x에서 A => class A(object)로 바꾸면 실행 순서는 같아집니다.
class A:
    def hello(self):
        print('hello A')

class B(A):
    pass

class C(A):
    def hello(self):
        print('hello C')

class D(B, C):
    pass

d = D()
d.hello()

hello C

In [ ]:
# 다중 상속을 했을 때 상속에서 error가 나는 경우 - 정상실행
class A:
    def hello(self):
        print('hello A')

class B(A):
    def hello(self):
        print('hello B')

class C(B):
    def hello(self):
        print('hello C')

class D(C, B):
    pass

d = D()
d.hello()

hello C

In [ ]:
# 다중 상속을 했을 때 상속에서 error가 나는 경우 - error
class A:
    def hello(self):
        print('hello A')

class B(A):
    def hello(self):
        print('hello B')

class C(B):
    def hello(self):
        print('hello C')

class D(B, C):
    pass

d = D()
d.hello()

TypeError: ignored

In [ ]:
class Car(object):
    pass

class HybridCar(Car):
    pass

class ElectricCar(HybridCar):
    pass

class HybridElectricCar(HybridCar, ElectricCar):
    pass

modelz = HybridElectricCar()

TypeError: ignored

# 연습문제

게임에서 케릭터를 구현할 예정입니다. 아래 클래스를 적절하게 조합하여 hero 인스턴스와 villain 인스턴스를 만들어주세요.
* 명시된 class외 다른 클래스를 더 추가할 수 있습니다.
* 안에 들어가는 멤버나 메서드는 자유롭게 작성할 수 있습니다.

1. class Body(능력치)
2. class Weapon(무기)
3. class WeaponEnhancement(무기강화)
4. class Skill(기술)
5. class Equipment(장비)
6. class Role(히어로인지, 빌런인지, 몹인지)

In [ ]:
class Weapon:
    def setDamage(self, damage):
        self.damage = damage


class WeaponEnhancement(Weapon):
    def setEnhance(self, success):
        if success == True:
            self.damage *= 5
        else:
            self.damage = 0


class Equipment(WeaponEnhancement):
    pass


class Role:
    def setRole(self, role):
        self.role = role


class Skill:
    def jarvis(self):
        return '자비스! 도와줘!'

    def beam(self):
        return '나가라 빔!'


class Body(Role, Skill, Equipment):
    def __init__(self, role, hp, mp, power):
        self.setRole(role)

ironman = Body('hero', 100, 100, 100)
thanos = Body('villain', 100, 100, 80)
ironman.role
ironman.jarvis()
ironman.setDamage(1000)
ironman.damage
ironman.setEnhance(True)
ironman.setEnhance(True)
ironman.damage

25000

```
문제 1:
동물 클래스 Animal을 만들고 어주세요. Dog와 Cat 클래스를 각각 정의하십시오.

Animal 클래스는 name 속성을 가집니다. 이 클래스는 make_sound 메서드를 갖고 있습니다.

Dog와 Cat 클래스는 Animal 클래스를 상속받는 클래스입니다.Dog 클래스의 make_sound 메서드는 "멍멍!"을, Cat 클래스의 make_sound 메서드는 "야옹!"을 출력하도록 재정의하세요.

* 더 완성도 높은 클래스를 만들어보세요. 추가 속성이나 메서드 작성 가능합니다.

문제 2:
Person이라는 기본 클래스를 만들어주세요. Person 클래스는 `이름`과 `나이`라는 두 개의 속성과 `소개하기`라는 메서드를 가지며, 이 메서드는 "Hello World!, 제 이름은 [이름]이고 제 나이는 [나이]살 입니다."라는 메시지를 출력합니다.

Person 클래스를 상속받는 Student 클래스를 정의하십시오. Student 클래스는 추가적으로 `학년` 속성을 가집니다. Student 클래스에서 `소개하기` 메서드를 오버라이드하여 "Hello World!, 제 이름은 [이름]이고 제 나이는 [나이]살 입니다. 그리고 저는 [학년]학년입니다. "라는 메시지를 출력하도록 만드세요.
```

In [ ]:
 # 1번
class Animal:
    def __init__(self, name):
        self.name = name

    def make_sound(self):
        pass


class Dog(Animal):
    def make_sound(self):
        return "멍멍!"


class Cat(Animal):
    def make_sound(self):
        return "야옹!"

# 2번
class Person:
    def __init__(self, name, age):
        self.name = name
        self.age = age

    def introduce(self):
        return f'안녕하세요! 제 이름은 {self.name}이고 제 나이는 {self.age}입니다'


class Student(Person):
    def __init__(self, name, age, grade):
        super().__init__(name, age)
        self.grade = grade

    def introduce(self):
        return f'안녕하세요! 제 이름은 {self.name}이고 제 나이는 {self.age}입니다. {self.grade}학년 입니다.'


s = Student('jun', 10, 3)
s.introduce()

'안녕하세요! 제 이름은 jun이고 제 나이는 10입니다. 3학년 입니다.'

# 클래스 메서드와 정적 메서드

In [ ]:
# 클래스 메서드
class MyClass:
    count = 0

    @classmethod
    def increment(cls):
        cls.count += 1

a = MyClass()
b = MyClass()

MyClass.increment()
print(MyClass.count) # 출력: 1

print(a.count, b.count)

MyClass.increment()

print(a.count, b.count)

1

(2, 2)

In [ ]:
# 클래스 메서드
class MyClass:
    count = 0

    def increment(self):
        self.count += 1

a = MyClass()
b = MyClass()

# MyClass.increment() # error
a.increment()

print(a.count, b.count)

a.increment()

print(a.count, b.count)

1 0
2 0

In [ ]:
class MyClass:
    @staticmethod
    def my_method(x, y):
        return x + y

print(MyClass.my_method(5, 3))  # 출력: 8

In [ ]:
class MyClass:
    count = 10

    @staticmethod
    def my_method(x, y):
        # print(count) # 읽는 것 조차 접근이 안됩니다.
        return x + y + count

print(MyClass.my_method(5, 3))  # 출력: 8

In [ ]:
class 학사정보시스템:
    학점총점 = 120

    def __init__(self):
        self.학기점수 = []

    def 학점추가(self, 이번학기점수):
        self.학기점수.append(이번학기점수)

    def 학점평균(self):
        return sum(self.학기점수)/len(self.학기점수)

    def 졸업장출력(self):
        return f'총학점 {self.학점총점}학점, {self.학점평균()}으로 졸업하셨습니다.'

피카츄 = 학사정보시스템()
꼬부기 = 학사정보시스템()

# 8학기
피카츄.학점추가(3.2)
피카츄.학점추가(3.5)
피카츄.학점추가(3.0)
피카츄.학점추가(3.2)
피카츄.학점추가(3.0)
피카츄.학점추가(3.3)
피카츄.학점추가(3.1)
피카츄.학점추가(2.8)

피카츄.학점평균()
피카츄.졸업장출력()

'총학점 120학점, 3.125으로 졸업하셨습니다.'

In [ ]:
# 스토리 : 중간에 총학점이 120학점에서 60학점으로 바뀌어서 조기졸업을 할 수 있게 되었습니다!
class 학사정보시스템:
    학점총점 = 120

    def __init__(self):
        self.학기점수 = []

    def 학점추가(self, 이번학기점수):
        self.학기점수.append(이번학기점수)

    def 학점평균(self):
        return sum(self.학기점수)/len(self.학기점수)

    def 졸업장출력(self):
        return f'총학점 {self.학점총점}학점, {self.학점평균()}으로 졸업하셨습니다.'

피카츄 = 학사정보시스템()
꼬부기 = 학사정보시스템()

피카츄.학점추가(3.2)
피카츄.학점추가(3.5)
# 총학점 변경
피카츄.학점총점 = 60 # 이렇게 해버리면 꼬부기는요?
피카츄.학점추가(3.0)
피카츄.학점추가(2.8)

피카츄.학점평균()
피카츄.졸업장출력()

'총학점 60학점, 3.125으로 졸업하셨습니다.'

In [ ]:
# 꼬부기의 졸업장은 변하지 않았습니다!
꼬부기.학점추가(3.2)
꼬부기.학점추가(3.5)
꼬부기.학점추가(3.0)
꼬부기.학점추가(2.8)

꼬부기.졸업장출력()

'총학점 120학점, 3.125으로 졸업하셨습니다.'

In [ ]:
# 스토리 : 중간에 총학점이 120학점에서 60학점으로 바뀌어서 조기졸업을 할 수 있게 되었습니다!
class 학사정보시스템:
    학점총점 = 120

    def __init__(self):
        self.학기점수 = []

    def 학점추가(self, 이번학기점수):
        self.학기점수.append(이번학기점수)

    def 학점평균(self):
        return sum(self.학기점수)/len(self.학기점수)

    def 졸업장출력(self):
        return f'총학점 {self.학점총점}학점, {self.학점평균()}으로 졸업하셨습니다.'

피카츄 = 학사정보시스템()
꼬부기 = 학사정보시스템()

피카츄.학점추가(3.2)
피카츄.학점추가(3.5)
학사정보시스템.학점총점 = 60 # 이 코드가 변경이 된 것입니다. 이 방법을 저는 많이 사용하는데요.
# 저는 이 코드의 위험성을 알고 있습니다. 제가 실수하지 않을 것을 알고 있기 때문에 이코드를 사용합니다.
# 협업을 하거나 안정성을 더 확보하고 싶다면 클래스 메서드로 수정을 해주세요.
피카츄.학점추가(3.0)
피카츄.학점추가(2.8)

피카츄.학점평균()
print(피카츄.졸업장출력())

꼬부기.학점추가(3.0)
print(꼬부기.졸업장출력()) # 둘 다 변한 것을 확인할 수 있습니다.

총학점 60학점, 3.125으로 졸업하셨습니다.
총학점 60학점, 3.0으로 졸업하셨습니다.

In [ ]:
# 스토리 : 중간에 총학점이 120학점에서 60학점으로 바뀌어서 조기졸업을 할 수 있게 되었습니다!
class 학사정보시스템:
    학점총점 = 120

    def __init__(self):
        self.학기점수 = []

    def 학점추가(self, 이번학기점수):
        self.학기점수.append(이번학기점수)

    def 학점평균(self):
        return sum(self.학기점수)/len(self.학기점수)

    def 졸업장출력(self):
        return f'총학점 {self.학점총점}학점, {self.학점평균()}으로 졸업하셨습니다.'

피카츄 = 학사정보시스템()
꼬부기 = 학사정보시스템()

피카츄.학점추가(3.2)
피카츄.학점추가(3.5)
학사정보시스템.학점총점 = '60' # 위험한 상황, 숫자가 들어가야 하는데 문자가 들어갔습니다.
# 만약에 학점총점으로 들어가는 산술 연산되는 메서드가 있었다면 이제 그 메서드는 오류를 냅니다.
피카츄.학점추가(3.0)
피카츄.학점추가(2.8)

피카츄.학점평균()
print(피카츄.졸업장출력())

꼬부기.학점추가(3.0)
print(꼬부기.졸업장출력()) # 둘 다 변한 것을 확인할 수 있습니다.

총학점 60학점, 3.125으로 졸업하셨습니다.
총학점 60학점, 3.0으로 졸업하셨습니다.

In [ ]:
# 스토리 : 중간에 총학점이 120학점에서 60학점으로 바뀌어서 조기졸업을 할 수 있게 되었습니다!
class 학사정보시스템:
    학점총점 = 120

    def __init__(self):
        self.학기점수 = []

    def 학점추가(self, 이번학기점수):
        self.학기점수.append(이번학기점수)

    def 학점평균(self):
        return sum(self.학기점수)/len(self.학기점수)

    def 졸업장출력(self):
        return f'총학점 {self.학점총점}학점, {self.학점평균()}으로 졸업하셨습니다.'

    @classmethod
    def 학점총점변경(cls, 총점):
        if isinstance(총점, int):
            cls.학점총점 = 총점
            return '변경됨'
        return '변경안됨'

피카츄 = 학사정보시스템()
꼬부기 = 학사정보시스템()

피카츄.학점추가(3.2)
피카츄.학점추가(3.5)
학사정보시스템.학점총점변경(60)
학사정보시스템.학점총점변경(120.5) # 무시
학사정보시스템.학점총점변경('60') # 무시
피카츄.학점추가(3.0)
피카츄.학점추가(2.8)

피카츄.학점평균()
print(피카츄.졸업장출력())

꼬부기.학점추가(3.0)
print(꼬부기.졸업장출력()) # 둘 다 변한 것을 확인할 수 있습니다.

총학점 60학점, 3.125으로 졸업하셨습니다.
총학점 60학점, 3.0으로 졸업하셨습니다.

In [ ]:
class 학사정보시스템:
    학점총점 = 120

    def __init__(self):
        self.학기점수 = []

    def 학점추가(self, 이번학기점수):
        self.학기점수.append(이번학기점수)

    def 학점평균(self):
        return sum(self.학기점수)/len(self.학기점수)

    def 졸업장출력(self):
        return f'총학점 {self.학점총점}학점, {self.학점평균()}으로 졸업하셨습니다.'

    @staticmethod
    def 학사경고(이번학기점수):
        '''
        내부에서 클래스 변수, 인스턴스 변수 수정하는 것이 가능하지 않습니다.
		'''
        if 이번학기점수 - 1.5 > 0:
            return '학사경고 아님!'
        return '학사경고임!'

    @classmethod
    def 학점총점변경(cls, 총점):
        if isinstance(총점, int):
            cls.학점총점 = 총점
            return '변경됨'
        return '변경안됨'

학사정보시스템.학사경고(1.4)
학사정보시스템.학사경고(1.6)

'학사경고 아님!'

# 속성 접근자와 덕타이핑

In [ ]:
class Person:
    def __init__(self, first_name, last_name):
        self._first_name = first_name
        self._last_name = last_name

    @property
    def full_name(self):
        return f'{self._first_name}{self._last_name}'

licat = Person('li', 'cat')
print(licat._first_name)
print(licat._last_name)
print(licat.full_name)
# print(licat.full_name())

li
cat
licat

In [ ]:
class Person:
    def __init__(self, first_name, last_name):
        self._first_name = first_name
        self._last_name = last_name

    @property
    def full_name(self):
        return f'{self._first_name}{self._last_name}'

licat = Person('li', 'cat')
mura = Person('mu', 'ra')
print(licat._first_name)
print(licat._last_name)
print(licat.full_name) # 클래스 변수였다면 둘 다 같은 값을 출력했었어야 합니다.
print(mura.full_name) # 클래스 변수였다면 둘 다 같은 값을 출력했었어야 합니다.

li
cat
licat
mura

In [ ]:
class Person:
    def __init__(self, first_name, last_name):
        self._first_name = first_name
        self._last_name = last_name

    @property
    def full_name(self):
        return f'{self._first_name}{self._last_name}'

    def namemul(self):
        return self.full_name * 2 # 클래스 내부에서도 self.full_name, 인스턴스 변수처럼 취급됩니다.

licat = Person('li', 'cat')
mura = Person('mu', 'ra')
print(licat._first_name)
print(licat._last_name)
print(licat.full_name) # 클래스 변수였다면 둘 다 같은 값을 출력했었어야 합니다.
print(mura.full_name) # 클래스 변수였다면 둘 다 같은 값을 출력했었어야 합니다.
print(mura.namemul())

li
cat
licat
mura
muramura

In [ ]:
class Duck:
    def introduce(self):
        print('꽥꽥!')

class Person:
    def introduce(self):
        print("안녕하세요!")

def introduce(obj):
    print('인사시작')
    obj.introduce()
    print('인사끝')

duck = Duck()
person = Person()

introduce(duck)  # 출력: 꽥꽥!
introduce(person)  # 출력: 안녕하세요!

# 장점1. 코드의 가독성이 좋아집니다. duck.introduce() 이렇게 사용하지 않고 intoduce(duck)로 사용하게 되면
# dock에 object 안을 들여다보지 않고, 어느정도 기능을 유추할 수 있게 됩니다.
# 장점2. 여러가지 obj를 하나의 함수에서 실행하며 커스터마이징도 가능합니다.

인사시작
꽥꽥!
인사끝
인사시작
안녕하세요!
인사끝

In [ ]:
class Hero:
    def move(self):
        print('h 움직임')

class Villain:
    def move(self):
        print('v 움직임')

class Mob:
    def move(self):
        print('m 움직임')

def move(obj):
    obj.move()

a = Hero()
b = Villain()
c = Mob()

등장인물 = [a, b, c]

for person in 등장인물:
    move(person) # 강요도 아니고 권고도 아니고, 취향에 따라 선택하시면 됩니다.
    person.move() # 나는 이렇게 사용해야겠다 하시면 사용하시면 됩니다.

h 움직임
h 움직임
v 움직임
v 움직임
m 움직임
m 움직임

In [ ]:
class Hero:
    def move(self):
        pass

class Villain:
    def move(self):
        pass

class Mob:
    def move(self):
        pass

def move(obj):
    obj.move()

a = Hero()
b = Villain()
c = Mob

introduce(duck)  # 출력: 꽥꽥!
introduce(person)  # 출력: 안녕하세요!

# 추상 클래스

In [ ]:
from abc import ABC, abstractmethod

class Person:
    def move(self):
        pass


class Hero(Person):
    pass


ironman = Hero()
ironman.move()

In [ ]:
from abc import ABC, abstractmethod

class Person(ABC): # ABC를 상속받고

    @abstractmethod # abstractmethod라고 선언을 하면
    def move(self):
        pass


class Hero(Person): # 상속받은 자식에서 반드시 메서드 오버라이딩이 일어나야 합니다.
    pass

ironman = Hero()
ironman.move()

TypeError: ignored

In [ ]:
from abc import ABC, abstractmethod

class Person(ABC): # ABC를 상속받고

    @abstractmethod # abstractmethod라고 선언을 하면
    def move(self):
        pass


class Hero(Person): # 상속받은 자식에서 반드시 메서드 오버라이딩이 일어나야 합니다.
    def move(self):
        print('날아다님!')

ironman = Hero()
ironman.move()

날아다님!

# 비공개 속성

In [ ]:
# 비공개 속성이 조작 불가능한게 아닙니다!
class MyClass:
    __a = 10
    _a = 100
    b = 20

    def __init__(self, c, d):
        self.__c = c
        self.d = d

# MyClass.__a
test = MyClass(30, 40)
# test.__a # 오!? 접근이 가능하지 않네 => 오해입니다.
print(test._MyClass__a)
print(test._MyClass__c)

10
30

In [ ]:
# 비공개 속성이 조작 불가능한게 아닙니다!
class MyClass:
    __a = 10
    _a = 100
    b = 20

    def __init__(self, c, d):
        self.__c = c
        self.d = d

# MyClass.__a
test = MyClass(30, 40)
# test.__a # 오!? 접근이 가능하지 않네 => 오해입니다.
test._a
test._MyClass__a = 9000
test._MyClass__c = 90000

print(test._MyClass__a)
print(test._MyClass__c)

9000
90000

# 모듈

* jun.py파일 작성 후 아래와 같이 입력해주세요.

    ```python
    name = 'leehojun'
    age = 10
    def hello():
        return 'hello world'
    ```

In [ ]:
import jun # 여기서 jun이 모듈입니다!

jun.name # 변수를 호출할 수도 있고
jun.hello() # 함수를 호출할 수도 있습니다.

'hello world'

In [ ]:
from jun import name, age # 이것도 많이 사용합니다.
from juni import name, age

# 그러나 저는 이 문법을 좋아하지 않습니다.
# 그러나 이 문법은 정말 많이사용되는 문법입니다!

print(name) # 여기에 이름은 누구인가요? juni!
print(age) # 여기에 나이는 누구이죠? juni!

juni
20

In [ ]:
from jun import name as n # 이렇게도 사용 가능하고

print(n)

leehojun

In [ ]:
import jun as j # 이렇게도 사용 가능합니다.

j.name

'leehojun'

In [ ]:
import pandas as pd # 데이터 분석 모듈
import numpy as np # 수학 관련 모듈

![image.png]()

In [ ]:
import a # 폴더가 있기 때문에 애러가 안난겁니다!

print(a)
print(a.b.c) # 이렇게 접근할 수는 없습니다!

In [ ]:
import a.b.c.licat

# print(licat)
print(a.b.c.licat)
print(a.b.c.licat.name)
print(a.b.c.licat.age)

<module 'a.b.c.licat' from '/content/a/b/c/licat.py'>
licat
3

In [ ]:
import a.b.c.licat as cat

print(cat)
print(cat.name)
print(cat.age)

<module 'a.b.c.licat' from '/content/a/b/c/licat.py'>
licat
3

In [ ]:
# 일반적으로 아래와 같이 사용합니다.
# from은 폴더 import는 모듈
from a.b.c import licat

print(licat)
print(licat.name)
print(licat.age)

<module 'a.b.c.licat' from '/content/a/b/c/licat.py'>

In [ ]:
!mkdir leehojun

In [ ]:
!pip list # colab이 정말 많은 모듈이 설치되어 있습니다. 그래서 정말 좋습니다.

# 연습문제

In [ ]:
# 아래와 같은 기능을 하는 모듈 또는 패키지를 만들어주세요.
# 파일 또는 폴더로 만드셔야 합니다!
# add(a, b), sub(a, b), mul(a, b), div(a, b)
# _and(a, b), _or(a, b) # 다 하신 분 중 시간이 조금 남으신 분은 요것도 해보세요. :)

![image.png]()

In [ ]:
# 구분해서 저장하는 것이 왜 중요하냐면
# 유지보수 좀 더 편리하게 할 수 있습니다.
# operation > arithmetic_operation.py
def add(a, b):
    return a + b

def sub(a, b):
    return a - b

def mul(a, b):
    return a * b

def div(a, b):
    return a / b

# operation > logical_operation.py
def _and(a, b):
    return a and b

def _or(a, b):
    return a or b

In [ ]:
from operation import arithmetic_operation as ao, logical_operation as lo

In [ ]:
ao.add(3, 4)

7

In [ ]:
lo._and(True, False)

False

In [ ]:
# 450,000개 이상의 Python 패키지, 45만개의 바퀴
# PyPI(Python Package Index)
# https://pypi.org/search/?q=pandas&o=

In [ ]:
import sys

sys.path.append('/content/a/b/c')

In [ ]:
import licat

licat.name

'licat'

# 부록 - 많이 사용하는 모듈

In [ ]:
import glob

glob.glob('/content/*.py')
glob.glob('./*/*.py')
glob.glob('./???.py')
glob.glob('./ju??.py')
glob.glob('*.py')

['jun.py', 'juni.py']

In [ ]:
import os

os.getcwd()
# glob라는 모듈이 폴더 찾고, 파일찾고 하는 것에는 더 좋습니다.

'/content'

In [ ]:
for current_directory, dirs, files in os.walk('/content'):
    for f in files:
        print(os.path.join(current_directory, f))

/content/jun.py
/content/juni.py
/content/.config/.last_update_check.json
/content/.config/default_configs.db
/content/.config/.last_opt_in_prompt.yaml
/content/.config/active_config
/content/.config/config_sentinel
/content/.config/gce
/content/.config/.last_survey_prompt.yaml
/content/.config/logs/2023.09.15/13.22.10.131489.log
/content/.config/logs/2023.09.15/13.22.09.324179.log
/content/.config/logs/2023.09.15/13.21.32.854551.log
/content/.config/logs/2023.09.15/13.21.41.882195.log
/content/.config/logs/2023.09.15/13.20.39.626976.log
/content/.config/logs/2023.09.15/13.21.06.946322.log
/content/.config/configurations/config_default
/content/sample_data/anscombe.json
/content/sample_data/README.md
/content/sample_data/mnist_train_small.csv
/content/sample_data/mnist_test.csv
/content/sample_data/california_housing_test.csv
/content/sample_data/california_housing_train.csv
/content/operation/logical_operation.py
/content/operation/arithmetic_operation.py
/content/operation/__pycache__/arithmetic_operation.cpython-310.pyc
/content/operation/__pycache__/logical_operation.cpython-310.pyc
/content/__pycache__/jun.cpython-310.pyc
/content/__pycache__/juni.cpython-310.pyc
/content/a/b/c/licat.py
/content/a/b/c/__pycache__/licat.cpython-310.pyc

In [ ]:
import os
# os.mkdir()
# os.rename()
# os.remove()
os.open('a.txt', os.O_CREAT | os.O_WRONLY)

45

In [ ]:
import sys

a = [1, 2, 3]
b = a
c = a
# sys.getsizeof()
# sys.path
sys.getrefcount(a)

4

In [ ]:
a = [1, 2, 3, 4]
sys.getrefcount(a)

2

In [ ]:
import datetime

s = datetime.datetime(2023, 9, 19, 14, 10)
print(s)

2023-09-19 14:10:00

In [ ]:
s.year, s.month, s.day, s.hour, s.minute

(2023, 9, 19, 14, 10)

In [ ]:
s = datetime.datetime(2023, 9, 18, 14, 10)
s.weekday() # 월요일0, 화요일1, 수요일2 ... 일요일6

0

In [ ]:
today = datetime.date.today()
today

datetime.date(2023, 9, 19)

In [ ]:
graduation_date = datetime.datetime(2023, 12, 29, 18, 00)
today = datetime.date.today()
days = datetime.timedelta(days=100)
today + days

datetime.date(2023, 12, 28)

In [ ]:
type(today), type(graduation_date)

(datetime.date, datetime.datetime)

In [ ]:
import datetime

graduation_date = datetime.date(2023, 12, 29)
today = datetime.date.today()

graduation_date - today

datetime.timedelta(days=101)

In [ ]:
today = datetime.datetime.combine(datetime.date.today(), datetime.datetime.min.time())
type(today)

datetime.datetime

In [ ]:
graduation_date - today

datetime.timedelta(days=101, seconds=64800)

In [ ]:
import json

d = {
    'one': 1,
    'two': 2,
    'three': 3
}

s = json.dumps(d)
type(s)
s[:3]

'{"o'

In [ ]:
dd = json.loads(s)
type(dd)

dict

In [ ]:
class Human:
    def __init__(self, x, y):
        self.x = x
        self.y = y

jun = Human(10, 20)
json.dumps(jun)

# TypeError: Object of type Human is not JSON serializable(직렬화가 가능하지 않다!)
# 일반 인스턴스는 직렬화가 가능하지 않습니다!
# 직렬화: "데이터 구조나 오브젝트 상태를 동일하거나 다른 컴퓨터 환경에 저장
# (이를테면 파일이나 메모리 버퍼에서, 또는 네트워크 연결 링크 간 전송)하고,
# 나중에 재구성할 수 있는 포맷으로 변환하는 과정"

In [ ]:
import collections

d = collections.deque([1, 2, 3, 4])
d.rotate(1) # 회전초밥 문제
d

deque([4, 1, 2, 3])

In [ ]:
d.rotate(1) # 회전초밥 문제
d

deque([3, 4, 1, 2])

In [ ]:
d.rotate(1) # 회전초밥 문제
d

deque([2, 3, 4, 1])

In [ ]:
c = collections.Counter('hello world')
c

Counter({'h': 1, 'e': 1, 'l': 3, 'o': 2, ' ': 1, 'w': 1, 'r': 1, 'd': 1})

In [ ]:
c.most_common()

[('l', 3),
 ('o', 2),
 ('h', 1),
 ('e', 1),
 (' ', 1),
 ('w', 1),
 ('r', 1),
 ('d', 1)]

In [ ]:
# 지금부터 실습하는 것은 저 혼자만 하겠습니다.
# 여러분은 이 코드만 가지고 있어주세요.
import requests
from bs4 import BeautifulSoup

paullab_url = 'https://paullab.co.kr/bookservice/'
response = requests.get(paullab_url)
response.encoding = 'utf-8'
html = response.text

soup = BeautifulSoup(html, 'html.parser')

bookservices = soup.select('.col-lg-6 > h2')     # col-lg-6 클래스 안의 h2 태그 탐색
for no, book in enumerate(bookservices, 1):
    print(no, book.text)

1 메모혁신 Notion(노션) 활용 가이드
2 제주코딩베이스캠프 Code Festival: Python 100제 1부
3 튜토리얼로 배우는 HTML&CSS
4 코딩도장 튜토리얼로 배우는 Python 1편 object
5 코딩도장 튜토리얼로 배우는 python 2편 제어문
6 코딩도장 튜토리얼로 배우는 Python 문제풀이
7 타노스의 건틀릿 알고리즘 With Python
8 xlsxwriter 튜토리얼로 배우는 Python 엑셀 프로그래밍
9 러플 튜토리얼로 배우는 Python
10 인공지능을 활용한 업무자동화 With Google Developers Group JEJU
11 2017 제주 코딩 해커톤 Django 트랙 상편 1권

In [ ]:
# 지금부터 실습하는 것은 저 혼자만 하겠습니다.
# 여러분은 이 코드만 가지고 있어주세요.
import requests # 이거 하고 있습니다!
from bs4 import BeautifulSoup

paullab_url = 'https://search.naver.com/search.naver?where=nexearch&sm=top_hty&fbm=0&ie=utf8&query=%EC%B5%9C%EC%8B%A0%EC%98%81%ED%99%94' #이거
response = requests.get(paullab_url)
response.encoding = 'utf-8'
html = response.text

soup = BeautifulSoup(html, 'html.parser')

bookservices = soup.select('.this_text') # 이거
for no, book in enumerate(bookservices, 1):
    print(no, book.text)

1 베니스 유령 살인사건
2 잠
3 오펜하이머
4 달짝지근해: 7510
5 콘크리트 유토피아
6 닌자터틀: 뮤턴트 대소동
7 타겟
8 여름을 향한 터널, 이별의 출구
9 새로고침

# 예외처리

In [ ]:
# SyntaxError
# for i in range(10)
#     print(i)
if False:
    raise SyntaxError
if True:
    raise SyntaxError('hello world') #여러분의 의도에 맞게 적절한 애러를 주실 필요가 있습니다.

SyntaxError: ignored

In [ ]:
# Name Error
print(x)

NameError: ignored

In [ ]:
# Type Error
x = 10
y = '20'
print(x + y)

TypeError: ignored

In [ ]:
# Index Error
my_list = [1, 2, 3]
print(my_list[3]) # 슬라이싱은 애러를 내지 않습니다. 기억해주세요. 많이 사용합니다.

IndexError: ignored

In [ ]:
# python에서는 안됩니다.
my_list = [1, 2, 3]
my_list.__len__ = 100

AttributeError: ignored

In [ ]:
# Key Error
my_dict = {'a': 1, 'b': 2}
print(my_dict['c']) # key error를 피하기 위해서는 get을 사용합니다.

KeyError: ignored

In [ ]:
# Value Error
int('a')

ValueError: ignored

In [ ]:
# ZeroDivision Error
x = 10
y = 0
print(x / y)

ZeroDivisionError: ignored

In [ ]:
def f():
    return True

def ff():
    return 1/0

f() or ff()

True

In [ ]:
# Attribute Error
my_list = [1, 2, 3]
print(my_list.appeend(4))

AttributeError: ignored

In [ ]:
# Type Error
def add(x, y):
    return x + y

add(1, 2, 3) # *args, **kargs

TypeError: ignored

In [ ]:
def add(x, y, *args):
    print(x, y, args)
    return x + y

add(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

1 2 (3, 4, 5, 6, 7, 8, 9, 10)

3

In [ ]:
# File I/O Error
f = open('non-existent.txt', 'r')
f.read()

FileNotFoundError: ignored

In [ ]:
# 오류가 난 곳을 찾아 유지보수하기가 쉽지 않습니다.
try:
    pass # 1000줄
except:
    pass # 100줄

In [ ]:
try:
    s = 1/1
    print(s)
    l = [1, 2, 3]
    print(l[3])
except ZeroDivisionError:
    print('0으로 나누어졌습니다!')
except:
    print('오류가 났습니다!')

1.0
오류가 났습니다!

In [ ]:
def index_print(list, user_input):
    if 0 <= user_input < len(list):
        return list[user_input]
    return print('리스트의 범위를 벗어났습니다.')
fruit = ["apple", "banana", "cherry"]

user = int(input('인덱스를 입력해주세요. : '))
index_print(fruit,user)

인덱스를 입력해주세요. : 5
리스트의 범위를 벗어났습니다.

In [ ]:
try:
    할인율 = 0
    치킨값 = 30000 / 할인율
    print('치킨주문 되었습니다!')
except:
    print('결제가 안되었습니다!')

결제가 안되었습니다!

In [ ]:
try:
    할인율 = 0
    치킨값 = 30000 / 할인율
    print('치킨주문 되었습니다!')
print('hello')

SyntaxError: ignored

In [ ]:
try:
    할인율 = 0
    치킨값 = 30000 / 할인율
    print('치킨주문 되었습니다!')
except:
    print('결제가 안되었습니다!')
else:
    print('else')

결제가 안되었습니다!

In [ ]:
try:
    할인율 = 0
    # 치킨값 = 30000 / 할인율
    print('치킨주문 되었습니다!')
except:
    print('결제가 안되었습니다!')
else: # 애러 없이 실행되면 else를 실행합니다. while, for + else 조합과 비슷합니다.
    print('else')

치킨주문 되었습니다!
else

In [ ]:
try:
    할인율 = 0
    # 치킨값 = 30000 / 할인율
    print('치킨주문 되었습니다!')
except:
    print('결제가 안되었습니다!')
else: # 애러 없이 실행되면 else를 실행합니다. while, for + else 조합과 비슷합니다.
    print('else')

In [ ]:
try:
    할인율 = 0
    # 치킨값 = 30000 / 할인율
    print('치킨주문 되었습니다!')
except:
    print('결제가 안되었습니다!')
finally:
    print('메인화면으로 이동')

치킨주문 되었습니다!
메인화면으로 이동

In [ ]:
# 간단하게 error를 만들고 테스트하긴 좋습니다.

test = 'hello'

# assert test == 'hello', '애러 메시지 1' #1
assert test == 'world', '애러 메시지 2' #2
# assert test + 3 == 5, '애러 메시지 3' #3

AssertionError: ignored

In [ ]:
x = 10
# raise
# raise ValueError
# raise ValueError('코드를 잘~~ 만들어주세요.')
y = 20

ValueError: ignored

In [ ]:
class Leehojun(Exception): #Exception을 상속받으면 됩니다.
    def __init__(self):
        super().__init__('입력된 값이 leehojun이 아닙니다.')

raise Leehojun

Leehojun: ignored

In [ ]:
import logging

# logging.basicConfig(level=logging.DEBUG) # 어느 레벨부터 로깅할지, 기본으로 warning 부터 합니다.
# logging.basicConfig(level=logging.CRITICAL)
logging.basicConfig(level=logging.CRITICAL, format=f'%(asctime)s - %(message)s')

logging.debug("This is a debug message") # 고쳐야 할 코드, 기록 필요
logging.info("This is an info message") # 정보성 메시지
logging.warning("This is a warning message") # 경고 메시지
logging.error("This is an error message") # 애러 메시지(프로그램은 동작)
logging.critical("This is a critical message") # 프로그램 중지(애러처리 안된경우)

WARNING:root:This is a warning message
ERROR:root:This is an error message
CRITICAL:root:This is a critical message

In [ ]:
import logging.handlers

def logger():
    log_obj = logging.getLogger("log_name") # log name으로 log 객체 생성
    log_obj.setLevel(logging.ERROR) # 어디부터 기록할지 설정

    fileHandeler = logging.FileHandler(filename="./test.txt") # 파일로 기록
    # streamHandler = logging.StreamHandler() # 콘솔에 출력

    fileHandeler.setLevel(logging.ERROR) # 파일 기록 레벨 설정
    # streamHandler.setLevel(logging.DEBUG) # 콘솔 기록 레벨 설정

    formatter = logging.Formatter("%(name)s, %(asctime)s, %(levelname)s, %(message)s") #포멧 생성

    fileHandeler.setFormatter(formatter) # 파일 메시지 포멧 설정
    # streamHandler.setFormatter(formatter) # 콘솔 메시지 포멧 설정

    log_obj.addHandler(fileHandeler) # log_obj handler에 파일 출력 방식 추가
    # log_obj.addHandler(streamHandler) # log_obj handler에 파일 콘솔 방식 추가

    return log_obj

log = logger()

# 아래 코드를 기록하고 싶은 곳에 함께 설정
log.debug('debug')
log.info('info')
log.warning('warning')
log.error('error')
log.critical('critical')

print('---')

# 아래와 같이 사용합니다.
def f():
    try:
        x = 1 / 0
    except Exception as e:
        print(e)
        log.error(f'{e} error')

f()

ERROR:log_name:error
CRITICAL:log_name:critical
ERROR:log_name:division by zero error

---
division by zero

# 연습문제

In [ ]:
# 문제1(라운지 쓰레드)
# 두 수를 나누는 함수 div(a, b)가 있었을 때
# b에 0이 입력되면 예외처리를 하여 정상작동이 되는 함수로 작성을 해주세요.

def div(a, b):
    try:
        return a / b
    except ZeroDivisionError:
        print('ZeroDivisionError')
    except:
        print('Error')

div(3, '1')
div(3, 0)

# 문제2(class 쓰레드)
# 하나의 숫자에 제곱근을 구하는 함수 sqrt_number(num)이 있었을 때
# 자체 예외 NegativeNumberError를 정의하세요. 이 예외는 음수가 입력될 때 발생하도록 합니다.
# 사용자로부터 숫자를 입력 받아 그 숫자의 제곱근을 반환하는 함수를 작성하세요.
# 입력된 숫자가 음수이면 NegativeNumberError를 발생시키고
# "음수의 제곱근은 계산할 수 없습니다."라는 메시지를 출력하세요.

class NegativeNumberError(Exception):
    pass

def sqrt_number(num):
    if num >= 0:
        return num ** 0.5
    else:
        print('음수의 제곱근은 계산할 수 없습니다.')
        raise NegativeNumberError

# 문제3(class 쓰레드)
# 사용자로부터 인덱스 값을 입력 받아서 리스트 ["apple", "banana", "cherry"]에서
# 해당 인덱스의 값을 출력하는 함수를 작성하세요.
# 사용자가 범위를 벗어난 인덱스를 입력하면 "리스트의 범위를 벗어났습니다."라는 메시지를 출력하세요.

def get_item(num):
    item_list = ['apple', 'banana', 'cherry']
    try:
        return item_list[num]
    except IndexError:
        return '리스트의 범위를 벗어났습니다.'
    except: # 이런 경우에 대비하시는 것이 좋습니다.
        return '예상치 못한 애러입니다.'

num = int(input('인덱스 값을 입력해 주세요.: '))
get_item(num)

Error
인덱스 값을 입력해 주세요.: 1

'예상치 못한 애러입니다.'

In [ ]:
def div(a, b):
    try:
        return a / b
    except ZeroDivisionError:
        print('ZeroDivisionError')
    except:
        print('Error')

div(3, '1')
div(3, 0)

Error
ZeroDivisionError

In [ ]:
class NegativeNumberError(Exception):
    pass

def sqrt_number(num):
    if num >= 0:
        return num ** 0.5
    else:
        print('음수의 제곱근은 계산할 수 없습니다.')
        raise NegativeNumberError

sqrt_number(4)
sqrt_number(-4)

In [ ]:
class NegativeNumberError(Exception):
    def __init__(self):
        super().__init__('음수의 제곱근은 계산할 수 없습니다.')

def sqrt_number(num):
    if num >= 0:
        return num ** 0.5
    else:
        print('음수의 제곱근은 계산할 수 없습니다.')
        raise NegativeNumberError

sqrt_number(4)
sqrt_number(-4)

음수의 제곱근은 계산할 수 없습니다.

NegativeNumberError: ignored

In [ ]:
def get_item(num):
    item_list = ['apple', 'banana', 'cherry']
    try:
        return item_list[num]
    except IndexError:
        return '리스트의 범위를 벗어났습니다.'
    except: # 이런 경우에 대비하시는 것이 좋습니다.
        return '예상치 못한 애러입니다.'

num = int(input('인덱스 값을 입력해 주세요.: '))
get_item('1')

인덱스 값을 입력해 주세요.: 1

'예상치 못한 애러입니다.'