# 리스트

In [ ]:
# 시퀀스형 자료형
a = 'hello world'
a[0]
a[:5]

'hello'

In [ ]:
range(10)[3]

3

In [1]:
range(100, 1000, 10)[3]

130

In [6]:
1, 2, 3, 4, 5

(1, 2, 3, 4, 5)

In [7]:
c = 1, 2, 3, 4, 5
c

(1, 2, 3, 4, 5)

In [4]:
list(range(10, 20, 2))

[10, 12, 14, 16, 18]

In [5]:
a, b, c, d, e = range(10, 20, 2)
c

14

In [9]:
a, b, c, d, e, f = 'hello'
d

ValueError: ignored

In [8]:
a, b, c, d, e = 'hello'
d

'l'

In [10]:
for i, j in [[10, 20], [30, 40]]:
    print(i, j)

10 20
30 40

In [ ]:
range(100)[::5]

range(0, 100, 5)

In [ ]:
range(10)[3:]

range(3, 10)

In [ ]:
enumerate([0, 1, 2, 3, 4, 5, 6, 7, 8, 9], 100)

In [ ]:
enumerate([0, 1, 2, 3, 4, 5, 6, 7, 8, 9], 100)[2]

In [ ]:
enumerate([0, 1, 2, 3, 4, 5, 6, 7, 8, 9], 100)[2:]

TypeError: ignored

In [11]:
b'world'

b'world'

In [12]:
b = b'world' # 유니코드표 X, 아스키코드표에서 찾습니다!
b[0]

119

In [ ]:
# b'' # 바이트
# f'' # f-string 용법
# r'' # raw값 출력

In [ ]:
# 덧셈과 곱셈
a = [1, 2, 3, 4, 5]
b = [6, 7, 8]

print(a + b) # 출력: [1, 2, 3, 4, 5, 6, 7, 8]

[1, 2, 3, 4, 5, 6, 7, 8]

In [ ]:
# 덧셈과 곱셈
a = [1, 2, 3, 4, 5]

print(a * 3) # 출력: [1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5]

[1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5]

In [ ]:
a = [1, 2, 3]
a = a * 3

print(a)
id(a[0]), id(a[3])

[1, 2, 3, 1, 2, 3, 1, 2, 3]

(133100684394736, 133100684394736)

In [ ]:
a = [1, 2, 3]
a = [a * 2] * 2 # 리스트 컴프리헨션 사용하셔서 만드시는 것을 권합니다.

print(a)
id(a[0]), id(a[1])
a[0][0] = 10000
a

[[1, 2, 3, 1, 2, 3], [1, 2, 3, 1, 2, 3]]

[[10000, 2, 3, 1, 2, 3], [10000, 2, 3, 1, 2, 3]]

In [ ]:
l = [1, 2, 3, 4, 5]
print(l[0]) # 출력: 1
print(l[3]) # 출력: 4
print(l[-1]) # 출력: 5
print(l[-3]) # 출력: 3

1
4
5
3

In [ ]:
l = [1, 2, 3, 4, 5]
print(type(l))
print(dir(l))

<class 'list'>
['__add__', '__class__', '__class_getitem__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__gt__', '__hash__', '__iadd__', '__imul__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__reversed__', '__rmul__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'append', 'clear', 'copy', 'count', 'extend', 'index', 'insert', 'pop', 'remove', 'reverse', 'sort']

In [ ]:
[1, 2, 3] + [1, 2, 3] = [1, 2, 3, 1, 2, 3]
# [2, 4, 6] 요소마다 더해지는 것은 아닙니다. 그런데 이러한 코드는 __add__에 구현이 되어 있는 것입니다.
# __add__에 요소마다 더하는 것으로 구현이 되어 있었다면 [2, 4, 6]을 출력했을 것입니다.

In [ ]:
import numpy as np

l = [1, 2, 3]
l = np.array(l)
l * 3
l + l
# 너무 당연하게 요소를 붙이는 것이다라고 생각하지는 않으셨으면 좋겠습니다.

array([2, 4, 6])

In [ ]:
# 문제1: 이 데이터에서 licat을 출력해주세요. 단, 직접 접근은 안됩니다. data[1]로 접근하는 것은 안됩니다.
data = [['weniv CTO binky', 2], ['weniv CEO licat', 1], ['weniv COO mura', 2]]

In [ ]:
s = sorted(data, key=lambda x:x[1])[0][0]
s[s.find('licat'):]

'licat'

In [ ]:
s = str(list(data))
s[s.find('licat'):s.find('licat') + 5]

'licat'

In [ ]:
# 문제1: 다음 함수 is_palindrome를 완성하시오.
# 이 함수는 하나의 문자열을 인자로 받아, 해당 문자열이 팰린드롬(앞으로 읽으나 뒤로 읽으나 같은 단어나 구)이면
# True를, 아니면 False를 반환해야 합니다.
def is_palindrome(s):
    if list(reversed(s)) == list(s):
      return True
    return False

def is_palindrome(s):
    if s == s[::-1]:
      return True
    return False

def is_palindrome(word):
    if len(word) < 2:
        return True
    if word[0] != word[-1]:
        return False
    return is_palindrome(word[1:-1])

is_palindrome('level')
is_palindrome('world')

True

In [ ]:
# 문제2: 리스트 numbers가 주어졌을 때,
# 이 리스트 내의 모든 짝수를 제거하는 코드를 작성하시오.
numbers = [2, 3, 4, 5, 6, 7, 8, 9, 10]
numbers = list(filter(lambda x:x%2==1,numbers))
print(numbers)  # 결과: [3, 5, 7, 9]

# 리스트(이어서)

In [ ]:
z = [
    10,
    20,
    30,
    40,
]
print(z[0])

In [ ]:
a = [1, 2, 3, 4, 5]
a[0] = 10000
print(a)

In [13]:
a = [1, 2, 3, 4, 5]
b = [6, 7, 8]

print(a + b) # 출력: [1, 2, 3, 4, 5, 6, 7, 8]

[1, 2, 3, 4, 5, 6, 7, 8]

In [14]:
import numpy as np

l = [1, 2, 3]
l = np.array(l)
l * 3
l + l
# 너무 당연하게 요소를 붙이는 것이다라고 생각하지 않으셨으면 좋겠습니다.

array([2, 4, 6])

In [15]:
l = [1, 2, 3, 4, 5]
print(l[0]) # 출력: 1
print(l[3]) # 출력: 4
print(l[-1]) # 출력: 5
print(l[-3]) # 출력: 3

1
4
5
3

In [16]:
print(l[-3:])

[3, 4, 5]

In [17]:
sum([1, 2, 3, 4])

10

In [18]:
# sum(list(range(101)))과 슬라이싱을 사용해 아래 문제를 풀어주세요.

# 문제 1: 짝수를 모두 더해주세요.
sum(list(range(101)[::2]))
# 문제 2: 3의 배수와 5의 배수를 모두 더해주세요.
sum(list(range(101)[::3])) + sum(list(range(101)[::5])) - sum(list(range(101)[::15]))
# (슬라이싱 2개 사용) 난이도가 있는 보너스 문제: 1부터 90까지의 짝수를 모두 더해주세요.
sum(list(range(101))[0:91][::2])

2418

In [26]:
# 실무에서도 이렇게 2개를 자주 사용합니다.
list(range(11))[0:91][::-1]

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1, 0]

In [ ]:
l = [1, 2, 3]
dir(l)

In [29]:
#  'append',
#  'clear',
#  'copy',
#  'count',
#  'extend',
#  'index',
#  'insert',
#  'pop',
#  'remove',
#  'reverse',
#  'sort'

# append
l = [1, 2, 3]
l.append(100)
l

[1, 2, 3, 100]

In [31]:
#  'clear',
#  'copy',
#  'count',
#  'extend',
#  'index',
#  'insert',
#  'pop',
#  'remove',
#  'reverse',
#  'sort'

# clear
l = [1, 2, 3]
l.clear()
l

[]

In [32]:
#  'copy',
#  'count',
#  'extend',
#  'index',
#  'insert',
#  'pop',
#  'remove',
#  'reverse',
#  'sort'

# copy
l = [10, 20, 30]
ll = l
l[0] = 1000
l

[1000, 20, 30]

In [40]:
l = [10, 20, 30]
ll = l
print(id(ll), id(l))
l[0] = 1000
print(l, ll)

132986928549888 132986928549888
[1000, 20, 30] [1000, 20, 30]

In [39]:
l = [10, 20, 30]
ll = l.copy()
print(id(ll), id(l))
l[0] = 1000
print(l, ll)

132986697644096 132986697561280
[1000, 20, 30] [10, 20, 30]

In [38]:
l = [10, 20, 30]
ll = l[:]
print(id(ll), id(l))
l[0] = 1000
print(l, ll)

132986928423616 132986697558464
[1000, 20, 30] [10, 20, 30]

In [43]:
# 이정도는 알아야 우리에게 충분합니다.
a = [10, 20]
b = [100, 200]

l = [a, b]
ll = l.copy()
print(id(l), id(ll))
l[0][0] = 100000
print(l, ll)

132986698021312 132986697837504
[[100000, 20], [100, 200]] [[100000, 20], [100, 200]]

In [47]:
a = 10
b = a
c = b
b = 20

In [48]:
c

10

In [131]:
# 오후에 한 번 더 확인해보고 말씀드리겠습니다.
import copy

aa = [1, 2, 3]
bb = [4, 5, 6]

k = [10000, [aa, bb]]

a = [10, k]
b = [100, k]

l = [a, b]
ll = copy.deepcopy(l)
aa[0] = 1000000

print(l)
print(ll)

[[10, [10000, [[1000000, 2, 3], [4, 5, 6]]]], [100, [10000, [[1000000, 2, 3], [4, 5, 6]]]]]
[[10, [10000, [[1, 2, 3], [4, 5, 6]]]], [100, [10000, [[1, 2, 3], [4, 5, 6]]]]]

In [53]:
# 오후에 한 번 더 확인해보고 말씀드리겠습니다.
import copy

k = [10000]

a = [10, k]
b = [100, k]

l = [a, b]
ll = copy.deepcopy(l)
k[0] = 1000000

print(l)
print(ll)

[[10, [1000000]], [100, [1000000]]]
[[10, [10000]], [100, [10000]]]

In [54]:
[1, 1, 1, 3, 3, 5, 6].count(1)

3

In [56]:
list('1113356').count('1')

3

In [57]:
l = [10, 20, 30]
l.append(100)
l

[10, 20, 30, 100]

In [58]:
l = [10, 20, 30]
l.append([10, 20])
l

[10, 20, 30, [10, 20]]

In [59]:
l = [10, 20, 30]
l.extend([10, 20])
l

[10, 20, 30, 10, 20]

In [60]:
l = [10, 20, 30]
l.extend('hello')
l

[10, 20, 30, 'h', 'e', 'l', 'l', 'o']

In [63]:
# 한 자리씩 잘라서 넣는다라고 생각해볼게요. 예를 들어 자릿수 모두 더하는 문제
userinput = input('숫자를 입력하세요:')
l = [10, 20, 30]
l.extend(map(int, userinput))
l

숫자를 입력하세요:123

[10, 20, 30, 1, 2, 3]

In [ ]:
# 한 자리씩 잘라서 넣는다라고 생각해볼게요. 예를 들어 자릿수 모두 더하는 문제
l = [10, 20, 30]
l.extend(map(int, input('숫자를 입력하세요:')))

In [ ]:
l = [10, 20, 30, 40, 50]
l.index(30)
l.index(60)

In [66]:
l = [10, 20, 30, 40, 50]
# l.find(60) # find 메서드가 없습니다. 저도 간혹 이 실수를 합니다.

AttributeError: ignored

In [67]:
l = [10, 20, 30]
l.insert(2, 25)
print(l)  # 출력: [10, 20, 25, 30]

[10, 20, 25, 30]

# 연습문제

In [71]:
# [10, 20, 40, 50, 30]와 같은 리스트에서 20과 30 중간에 25라는 값을 삽입하고 싶습니다.
# 현재 리스트는 정렬되어 있지 않은데 이 리스트를 정렬하고 20과 30에 값을 index 메서드로 찾아
# insert로 중간에 값을 삽입해주세요.
# 정답: [10, 20, 25, 30, 40, 50]
# * 다른 정답을 허용합니다.

s = sorted([10, 20, 40, 50, 30])
s.insert(s.index(30), 25)
s

s = [10, 20, 40, 50, 30]
s.append(25)
sorted(s)

# sorted([10, 20, 40, 50, 30].append(25)) # error
# print(s.append(100))의 값이 None이기 때문에 그렇습니다.

None

In [73]:
# 마지막에서 빼는 것
l = [10, 20, 30]
print(l.pop())
print(l)

30
[10, 20]

In [74]:
# 첫번째에서 빼는 것
l = [10, 20, 30]
print(l.pop(0))
print(l)

10
[20, 30]

In [76]:
# 첫번째에서 빼는 것
l = [10, 20, 30]
result = l.pop(0)
print(l, result)

[20, 30] 10

In [ ]:
l = [1, 2, 3, 4, 5]

while l:
    print(l.pop())

In [ ]:
l = [1, 2, 3, 4, 5]

while l:
    print(l.pop(0))

In [82]:
l = [1, 2, 3, 1, 2, 2, 2, 1, 1]
l.remove(2)
print(l)  # 출력: [1, 3, 1, 2]

[1, 3, 1, 2, 2, 2, 1, 1]

In [84]:
l = [1, 2, 3, 1, 2, 2, 2, 1, 1]
while l.count(2):
    l.remove(2)
l

[1, 3, 1, 1, 1]

In [83]:
l = [1, 2, 3, 1, 2, 2, 2, 1, 1]
list(filter(lambda x: x != 2, l))

[1, 3, 1, 1, 1]

In [86]:
# reversed와 reverse 차이, sorted와 sort 차이
# 원본 수정이 아니냐, 원본수정이냐? 입니다.

l = [1, 2, 10, 3, 4]
print(list(reversed(l))) # 출력: [4, 3, 10, 2, 1]
print(l)                 # 출력: [1, 2, 10, 3, 4] # 원본은 그대로입니다.

[4, 3, 10, 2, 1]
[1, 2, 10, 3, 4]

In [88]:
# reversed와 reverse 차이, sorted와 sort 차이
# 원본 수정이 아니냐, 원본수정이냐? 입니다.

l = [1, 2, 10, 3, 4]
print(l.reverse()) # 출력: None
print(l)           # 출력: [4, 3, 10, 2, 1]

None
[4, 3, 10, 2, 1]

In [89]:
# reversed와 reverse 차이, sorted와 sort 차이
# 원본 수정이 아니냐, 원본수정이냐? 입니다.

l = [1, 2, 10, 3, 4]
print(list(sorted(l))) # 출력: [1, 2, 3, 4, 10]
print(l)               # 출력: [1, 2, 10, 3, 4] # 원본은 그대로입니다.

[1, 2, 3, 4, 10]
[1, 2, 10, 3, 4]

In [90]:
# reversed와 reverse 차이, sorted와 sort 차이
# 원본 수정이 아니냐, 원본수정이냐? 입니다.

l = [1, 2, 10, 3, 4]
print(l.sort()) # 출력: None
print(l)        # 출력: [1, 2, 3, 4, 10]

None
[1, 2, 3, 4, 10]

In [ ]:
# 게시판 = [게시물1, 게시물2, 게시물3, 게시물4]
# 게시물1: 오래된 게시물이 저장이 되어 있을겁니다. (append로 게시물 추가했다고 생각해볼게요.)
# 그러면 그냥 게시판을 출력했을 때 최상단에 노출되는 게시물은 가장 오래된 게시물일겁니다.
# 컴퓨터 입장에서는요.
# 그래서 게시판.reverse()해서 출력합니다. 최신게시물이 상단에 오게요.
# 그러면 게시물5는 어디에 추가 될까요? 원본을 수정했기 때문에 게시물1 다음에 게시물5가 추가되요.
# 게시판[::-1], reversed(게시판)을 사용해서 역순으로 만들었어야 했습니다.
# 보이는화면 = 게시판[::-1]
# 보이는화면 = reversed(게시판)

# 튜플

In [ ]:
# 튜플은 안에 있는 값이 변경 불가능한 자료형이 아닙니다.
# 튜플은 참조 불변입니다.
# 리스트에 비해 처리 속도가 조금 더 빠릅니다.

x = (1, 2, 3)
# x[0] = 1000

In [92]:
x = [10, 20, 30]
y = (1, 2, x)
x[0] = 1000
y # 출력: (1, 2, [1000, 20, 30])

(1, 2, [1000, 20, 30])

In [94]:
# 데이터의 변경이 민감한 곳
# 참조의 갯수가 변하면 안되는 곳

s = {'one':1, 'two':2}
s.items()

dict_items([('one', 1), ('two', 2)])

In [ ]:
t = (1, 2, 3, 4, 5)
print(t[0])    # 출력: 1
print(t[1:4])  # 출력: (2, 3, 4)

In [95]:
t = (1, 1, 1, 2, 3, 4)
t.count(1)

3

In [97]:
t.index(3)

4

# 딕셔너리

In [ ]:
# 파이썬 3.6 버전부터 삽입 순서가 보장
# colab, colab에서 불과 1 ~ 2년 전만 하더라도 print로 출력한 것은 정렬 출력,
# 맨 마지막 출력은 정렬하지 않고 출력했습니다.

In [100]:
d = {'bb':100, 'hello':10, 'world':20, 'aa':30}
print(d)
d

{'bb': 100, 'hello': 10, 'world': 20, 'aa': 30}

{'bb': 100, 'hello': 10, 'world': 20, 'aa': 30}

In [101]:
d = dict([('one' , '하나'), ('two', '둘')])
print(d)  # 출력: {'one' : '하나', 'two' : '둘'}

{'one': '하나', 'two': '둘'}

In [102]:
d = dict([['one' , '하나'], ['two', '둘']])
print(d)  # 출력: {'one' : '하나', 'two' : '둘'}

{'one': '하나', 'two': '둘'}

In [ ]:
d = dict([['aa'], ['bb']])
print(d)  # error

In [104]:
d = dict(name='licat', age=10)
print(d)  # 출력: {'name': 'licat', 'age': 10}

{'name': 'licat', 'age': 10}

In [105]:
complex_dict = {
    "numbers": [1, 2, 3],
    42: "answer",
    ("x", "y"): [10, 20],
    True: [100, 200]
}
print(complex_dict["numbers"])  # 출력: [1, 2, 3]
print(complex_dict[42])         # 출력: answer
print(complex_dict[("x", "y")]) # 출력: [10, 20]
print(complex_dict[True])       # 출력: [10, 20]

[1, 2, 3]
answer
[10, 20]
[100, 200]

In [106]:
person = {'name': 'licat', 'city': 'Jeju'}
person['name'] = 'mura'
person['city'] = 'Seoul'

print(person)

{'name': 'mura', 'city': 'Seoul'}

In [107]:
person['age'] = 10
print(person)

{'name': 'mura', 'city': 'Seoul', 'age': 10}

In [108]:
keys = ['name', 'city', 'job']
values = ['licat', 'Jeju', 'Developer']

new_dict = dict(zip(keys, values))
print(new_dict)

{'name': 'licat', 'city': 'Jeju', 'job': 'Developer'}

In [109]:
hero = {'name': 'licat', 'age': 10}
dir(hero)

['__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__ror__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'clear',
 'copy',
 'fromkeys',
 'get',
 'items',
 'keys',
 'pop',
 'popitem',
 'setdefault',
 'update',
 'values']

In [112]:
# 'fromkeys',
# 'get',
# 'items',
# 'keys',
# 'pop',
# 'popitem',
# 'setdefault',
# 'update',
# 'values'

hero = {'name': 'licat', 'age': 10}
hero2 = hero.copy()

hero2['name'] = 'mura'

print(hero, hero2)

{'name': 'licat', 'age': 10} {'name': 'mura', 'age': 10}

In [118]:
# 'items',
# 'keys',
# 'values'
# 'fromkeys',
# 'get',
# 'pop',
# 'popitem',
# 'setdefault',
# 'update',

hero = {'name': 'licat', 'age': 10}
print(hero2.items())
# hero2.items()[0] # error
list(hero2.items())[0] # 출력: ('name', 'mura')
type(hero2.items())

dict_items([('name', 'mura'), ('age', 10)])

dict_items

In [121]:
# 'items',
# 'keys',
# 'values'
# 'fromkeys',
# 'get',
# 'pop',
# 'popitem',
# 'setdefault',
# 'update',

hero = {'name': 'licat', 'age': 10}
print(hero.keys())
type(hero.keys())

# 이렇게 많이 사용합니다.
for i in hero.keys():
    print(i)

dict_keys(['name', 'age'])
name
age

In [123]:
# 'items',
# 'keys',
# 'values'
# 'fromkeys',
# 'get',
# 'pop',
# 'popitem',
# 'setdefault',
# 'update',

hero = {'name': 'licat', 'age': 10}
print(hero.values())
type(hero.values())

dict_values(['licat', 10])

dict_values

In [126]:
hero = {'name': 'licat', 'age': 10}

# 'licat' in hero # 출력: False
# 'name' in hero # 출력: True, 키 값을 찾는 것만 됩니다.

In [129]:
'licat' in hero.values()
'mura' in hero.values()

False

In [144]:
# 'fromkeys',
# 'get',
# 'pop',
# 'popitem',
# 'setdefault',
# 'update',

keys = ['name', 'city', 'job']
value = ['licat', 'Jeju', 'Developer']
print(dict.fromkeys(keys, values))

{'name': ['licat', 'Jeju', 'Developer'], 'city': ['licat', 'Jeju', 'Developer'], 'job': ['licat', 'Jeju', 'Developer']}

In [145]:
keys = ['name', 'city', 'job']
value = None
print(dict.fromkeys(keys, values))

{'name': None, 'city': None, 'job': None}

In [147]:
d = {'name': 'licat', 'city': 'Jeju'}
d['name']
d.get('name') # 기억하고 있어야 합니다.

'licat'

In [151]:
d = {'name': 'licat', 'city': 'Jeju'}
# d['age'] # error, 이거 가볍게 생각하면 안됩니다! 서비스 멈춥니다!
d.get('age', '값 없음!')

'값 없음!'

In [ ]:
# 위험한 코드입니다!
def 요일변경(n):
    return {
        1: '월요일',
        2: '화요일',
        3: '수요일',
        4: '목요일',
        5: '금요일',
        6: '토요일',
        7: '일요일',
    }[n]

요일변경(3)
# 요일변경(8) # error, 서비스 멈춥니다!

In [155]:
# 아래와 같이 변경을 해주세요.
def 요일변경(n):
    return {
        1: '월요일',
        2: '화요일',
        3: '수요일',
        4: '목요일',
        5: '금요일',
        6: '토요일',
        7: '일요일',
    }.get(n) # 기본이 None입니다.

요일변경(3)
print(요일변경(8))
print(요일변경(8))

None

In [157]:
# 아래와 같이 변경을 해주세요.
def 요일변경(n):
    return {
        1: '월요일',
        2: '화요일',
        3: '수요일',
        4: '목요일',
        5: '금요일',
        6: '토요일',
        7: '일요일',
    }.get(n, '')

요일변경(3)
print(요일변경(8))

In [160]:
# 아래와 같이 변경을 해주세요.
def f():
    return '금금금요일'

def 요일변경(w):
    return {
        '월': '월요일',
        '화': '화요일',
        '수': '수요일',
        '목': '목요일',
        '금': '금요일',
        '토': '토요일',
        '일': '일요일',
    }.get(w, f())

요일변경('하하')

'금금금요일'

In [162]:
numbers = {'one': '하나', 'two': '둘', 'three': '셋'}
numbers.pop('one')
numbers

{'two': '둘', 'three': '셋'}

In [ ]:
numbers = {'one': '하나', 'two': '둘', 'three': '셋'}
numbers.pop() # error
numbers

In [165]:
numbers = {'one': '하나', 'two': '둘', 'three': '셋'}
item = numbers.popitem()
print(item)
print(numbers)

('three', '셋')
{'one': '하나', 'two': '둘'}

In [166]:
numbers = {'one': '하나', 'two': '둘', 'three': '셋'}
four_value = numbers.setdefault("four", "넷")
print(four_value)
print(numbers)

넷
{'one': '하나', 'two': '둘', 'three': '셋', 'four': '넷'}

In [167]:
numbers = {'one': '하나', 'two': '둘', 'three': '셋'}
four_value = numbers.setdefault("three", 3) # 3이 반영되지 않습니다.
print(four_value)
print(numbers)

셋
{'one': '하나', 'two': '둘', 'three': '셋'}

In [168]:
numbers = {'one': '하나', 'two': '둘', 'three': '셋'}
numbers.update({'four': '넷', 'five': '다섯'})
print(numbers)

{'one': '하나', 'two': '둘', 'three': '셋', 'four': '넷', 'five': '다섯'}

In [169]:
numbers = {'one': '하나', 'two': '둘', 'three': '셋'}
numbers.update({'three': 3, 'four': 4})
print(numbers)

{'one': '하나', 'two': '둘', 'three': 3, 'four': 4}

# 연습문제

In [183]:
국영수 = {'국어': 97, '영어': 38, '수학': 90}
# 문제1: 다음 국영수 dict에 점수에 평균을 구하는 코드를 작성하시오.
sum(국영수.values())/len(국영수)

# 문제2: {'사회':70, '과학':85}가 추가되었습니다. dict에 평균을 구하는 코드를 작성하시오.
국영수.update({'사회':70, '과학':85})
sum(국영수.values())/len(국영수)

# 문제3: 영어와 수학점수가 각각 10점씩 올랐습니다. 점수를 10점 추가하는 코드를 작성하시오.
# 국영수['영어'] += 10
# 국영수['수학'] += 10
국영수.update({'영어': 국영수.get('영어', 0) + 10})
국영수.update({'수학': 국영수.get('수학', 0) + 10})
국영수 # 영어와 수학이 없었어도 반환해줍니다!

# 문제4: 최종 점수에서 가장 높은 점수를 출력하는 코드를 작성하시오.
max(국영수.values())

# 문제5: 가장 높은 점수에 과목을 출력해주세요.
#(https://school.programmers.co.kr/learn/courses/30/lessons/120835 이런문제와 유사합니다.)
max(국영수.items(), key=lambda x: x[1])[0] # 강토님 코드
max(국영수, key=국영수.get) # 형섭님 코드

values = list(국영수.values())
list(국영수.keys())[values.index(max(values))] # 병헌님 코드(공을 많이 들인 코드)

list(sorted(국영수.items(), key=lambda x:x[1], reverse=True))[0][0] # 찬양님 코드 변경

for key in 국영수: # 종훈님 코드
    if(국영수.get(key) == max(국영수.values())):
        print(key)

[i for i, j in 국영수.items() if j == max(국영수.values())] #진경님 코드

'수학'

In [185]:
# 여러개의 딕셔너리를 왔다갔다 하면서 key 값으로 value값을 비교할 때에도 사용합니다.

local = {'제주': 100, '서울': 977, '부산': 500}
강우량 = {'제주': 100, '서울': 97, '부산': 50}
max(강우량, key=local.get())

'서울'

In [189]:
d = {'a': 10, 'bb': 9, 'c': 5, 'd': 6}
max(d) # 유니코드가 가장 큰 key값을 출력하겠다.

'd'

In [190]:
d = {'a': 10, 'bb': 9, 'c': 5, 'd': 6}
max(d, key=len) # 길이가 가장 긴 key값을 출력하겠다.

'bb'

In [ ]:
d = {'a': 10, 'bb': 9, 'c': 5, 'd': 6}
max(d, key=d.get) # d.get에서 반환된 가장 큰값의 key값을 출력하겠다.

# 얕은 복사와 깊은 복사

In [132]:
l = [1, 2, 3]
ll = l.copy()
l

[1, 2, 3]

In [133]:
import copy

a = [1, 2]
b = [3, 4]

aa = [10, 20, a]
bb = [30, 40, b]

aaa = [100, 200, aa]
bbb = [300, 400, bb]

l = [aaa, bbb]
ll = copy.deepcopy(l) # 깊은 복사

a[0] = 99

print(l)
print(ll)

[[100, 200, [10, 20, [99, 2]]], [300, 400, [30, 40, [3, 4]]]]
[[100, 200, [10, 20, [1, 2]]], [300, 400, [30, 40, [3, 4]]]]

In [137]:
l = [[1, 2, 3], [4, 5, 6]]
ll = [i for i in l]
ll[0][0] = 1000
print(l)
print(ll)

[[1000, 2, 3], [4, 5, 6]]
[[1000, 2, 3], [4, 5, 6]]

In [136]:
# 리스트 컴프리헨션으로 깊은 복사 구현(완전하진 않습니다.)
l = [[1, 2, 3], [4, 5, 6]]
ll = [i[:] for i in l]
ll[0][0] = 1000
print(l)
print(ll)

[[1, 2, 3], [4, 5, 6]]
[[1000, 2, 3], [4, 5, 6]]

In [138]:
# 위와 같은 방식으로 했을 때 완전하지 않은 코드
a = [9, 99]

l = [[1, 2, a], [4, 5, 6]]
ll = [i[:] for i in l]
a[0] = 10000
print(l)
print(ll)

[[1, 2, [10000, 99]], [4, 5, 6]]
[[1, 2, [10000, 99]], [4, 5, 6]]

In [142]:
# 종훈님 Q&A

a = [1, 2, 3]
b = [4, 5, 6]

l = [a, b]
ll = [a, b]
lll = [[1, 2, 3], [4, 5, 6]]

print(id(l), id(ll))
print(id(l[0]), id(ll[0]))
print(id(l[0]), id(lll[0]))

132986698067008 132986698071040
132986699583488 132986699583488
132986699583488 132986698066432

In [139]:
a = [9999, 9999, 9999]
b = copy.deepcopy(a)
c = copy.deepcopy(b)
print(a, b, c)

print(id(a[0]), id(b[0]), id(c[0]))

[9999, 9999, 9999] [9999, 9999, 9999] [9999, 9999, 9999]
132986697808592 132986697808592 132986697808592

In [140]:
c = [9999, 9999, 9999]
id(c[0]), id(c[1]), id(c[2])
c[0] is c[1]

True

In [ ]:
test = [9999, 9998, 9999]
id(test[0]), id(test[1]), id(test[2])
# 같은 컨벤션 내에 지정된 숫자는 동일한 메모리에 저장

In [ ]:
test = (9999, 9998, 9999)
id(test[0]), id(test[1]), id(test[2])
# 같은 컨벤션 내에 지정된 숫자는 동일한 메모리에 저장

In [143]:
test = {'one':9999, 'two':9998, 'three':9999}
id(test['one']), id(test['two']), id(test['three'])
# 같은 컨벤션 내에 지정된 숫자는 동일한 메모리에 저장

(132986699571728, 132986699572208, 132986699571728)

# Set(집합)

In [ ]:
# 1. 중복이 되지 않습니다.
# 2. 순서가 없습니다.
# 3. 교집합, 차집합, 합집합 등이 가능합니다.

In [196]:
set('hello')
s = {'licat', 'licat', 'licat', 'mura', 'binky'} # 게시물에 글 쓴사람은 몇 사람이죠?
len(s)

3

In [205]:
# 주의
t = {} # dict
t = () # tuple
t = (0) # int
t = (0,) # tuple
t = {0} # set
t = set()
type(t)
# t = tuple()
# type(t)

set

In [210]:
# 합집합
s = {1, 1, 1, 2, 3, 4, 4, 4}
ss = {4, 5, 6}

s | ss

{1, 2, 3, 4, 5, 6}

In [211]:
# 교집합
s = {1, 1, 1, 2, 3, 4, 4, 4}
ss = {4, 5, 6}

s & ss

{4}

In [212]:
# 차집합
s = {1, 1, 1, 2, 3, 4, 4, 4}
ss = {4, 5, 6}

s - ss

{1, 2, 3}

In [ ]:
# 불만인 것
s + ss
# 이게 왜 합집합이 아닌가!!!??

In [215]:
s.union(ss)
s | ss

{1, 2, 3, 4, 5, 6}

In [217]:
s.add(100)
s

{1, 2, 3, 4, 100}

In [222]:
# s.remove(1000) # error 있는 값만 해야 합니다.
s.discard(1000) # error가 나진 않습니다.
s

{1, 2, 3, 4}

In [ ]:
자유게시판 = {'licat', 'licat', 'licat', 'mura', 'binky'} # 게시물에 글 쓴사람은 몇 사람이죠?
공지사항 = {'licat', 'licat'} # 게시물에 글 쓴사람은 몇 사람이죠?
len(s)

# 리스트 컴프리헨션

In [223]:
l = []
for i in range(10):
    l.append(i)
l

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [224]:
l = [i for i in range(10)]
l

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
l = []
for i in range(10):
    l.append(f'{i}입니다!')
l

In [225]:
l = [f'{i}입니다!' for i in range(10)]
l

['0입니다!',
 '1입니다!',
 '2입니다!',
 '3입니다!',
 '4입니다!',
 '5입니다!',
 '6입니다!',
 '7입니다!',
 '8입니다!',
 '9입니다!']

In [ ]:
l = []
for i in range(2, 10):
    for j in range(1, 10):
        l.append(f'{i} X {j} = {i*j}')
l

In [ ]:
l = [f'{i} X {j} = {i*j}' for i in range(2, 10) for j in range(1, 10)]
l

In [230]:
l = []
for i in range(10):
    if i % 2 == 0:
        l.append(i)
l

[0, 2, 4, 6, 8]

In [231]:
l = [i for i in range(10) if i % 2 == 0]
l

[0, 2, 4, 6, 8]

In [232]:
l = []
for i in range(10):
    if i % 2 == 0:
        l.append(i)
    else:
        l.append(None)
l

[0, None, 2, None, 4, None, 6, None, 8, None]

In [ ]:
# error가 나는 코드
# l = [i for i in range(10) if i % 2 == 0 else None]
# l

In [234]:
l = [i if i % 2 == 0 else None for i in range(10)]
l

[0, None, 2, None, 4, None, 6, None, 8, None]